{% extends 'base.html' %}
{% block content %}


<div class="main-content">
    <div class="breadcrumb">
        <h1>Dashboard</h1>
       
    </div>    <div class="separator-breadcrumb border-top"></div>
    
    <form method="post" class="form-container" id="bannerimagesubmit" enctype="multipart/form-data"autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="/admin/manage/brands">
                    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                        <div class="card-body text-center"></i>
                            <div class="content">
                                <h5 class="text-muted mt-2 mb-0">Medicines</h5>
                                <p class="lead text-primary text-24 mb-2">{{medicines}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="/admin/manage/product">
                    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                        <div class="card-body text-center"></i>
                            <div class="content">
                                <h5 class="text-muted mt-2 mb-0">Enquires</h5>
                                <p class="lead text-primary text-24 mb-2">{{enquiry}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="/admin/manage/cartenquiry">
                    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                        <div class="card-body text-center"><i class="i-Add-User"></i>
                            <div class="content">
                                <h5 class="text-muted mt-2 mb-0">Users</h5>
                                <p class="lead text-primary text-24 mb-2">{{users}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
           
            
            <!-- <div class="col-md-4">
                <div class="card card-icon mb-4">
                    <div class="card-body text-center"><i class="i-Money-2"></i>
                        <p class="text-muted mt-2 mb-2">Subscriptions</p>
                        <p class="lead text-22 m-0">{{subscriptions}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-icon mb-4">
                    <div class="card-body text-center"><i class="i-Money-2"></i>
                        <p class="text-muted mt-2 mb-2">Silver</p>
                        <p class="lead text-22 m-0">{{silver_plan}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-icon mb-4">
                    <div class="card-body text-center"><i class="i-Money-2"></i>
                        <p class="text-muted mt-2 mb-2">Gold</p>
                        <p class="lead text-22 m-0">{{gold_plan}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-icon mb-4">
                    <div class="card-body text-center"><i class="i-Money-2"></i>
                        <p class="text-muted mt-2 mb-2">Platinum</p>
                        <p class="lead text-22 m-0">{{platinum_plan}}</p>
                    </div>
                </div>
            </div> -->
        </div>
        
    </form>
</div>




{% endblock %}

